@model Staff

@{
    ViewData["Title"] = "Delete";
}

<!--main content start-->
<section class="my-section">
    <section class="my-wrapper">
        <h3 class="mb"><i class="fa fa-angle-right"></i> Yazar Sil</h3>
        <!-- row -->
        <div class="row my-content">
            <div class="col-md-12">
                <div class="content-panel">
                    <div class="form-panel">
                        <form asp-controller="Staff" asp-action="delete" class="form-horizontal style-form" method="post">
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <b>@Model.Name.ToUpper() @Model.Surname.ToUpper()</b> isimli personeli silmek istiyor musunuz?
                                Personel Detayları Gelecek : kitap sayısı vb
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-danger" value="Sil" />
                                <a asp-controller="Staff" asp-action="list" class="btn btn-info">Geri Dön</a>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /content-panel -->
            </div>
            <!-- /col-md-12 -->
        </div>
        <!-- /row -->
    </section>
</section>
<!--main content end-->
